html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
 }

.btn:hover {
  border: none;
  color: white;
  background-position: right center; 
}

.btnCustom {
  background-image: linear-gradient(to right, #f1393f 0%, #e86d71 51%, #f1393f 100%);
}

.mainContainer {
  height: 100vh;
  background-color: blue;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.invalidInput {
  border: 2px solid red!important;
}
.invalidInput:focus {
  border: 2px solid red!important;
}

.validInput:focus {
  border: 2px solid green!important;
}

.validInput {
  border: 2px solid green!important;
}

.lighterGray {
  background-color: #faf9f7;
}

.activeCategory > *{
  color: #f1393f!important;
} 

.cursorPointer {
  cursor: pointer;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
