
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagemPrincipal {
    background-image: url('../../public/images/bgDrinks.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 80%;
    min-height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    /* background-color: ; */
}

.formImage {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.formHeader {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.loginButton {
    display: flex;
    align-items: center;
}

.loginButton button {
    border: none;
    background-color: #e51b23;
    padding: 1vh 4vw;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
    font-size: 1em;
    color:  white;
}

.loginButton button:hover {
    background-color: white;
    color: #e51b23;
    border: 1px solid #e51b23;
}

.loginButton button:hover a {
    color: #e51b23;
} 


.loginButton button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.formHeader h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #e51b23;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.inputGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.inputBox input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.inputBox input:hover {
    background-color: #eeeeee75;
}

.inputBox input:focus-visible {
    outline: 1px solid #e51b23;
}

.inputBox label,
.genderTitle h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.inputBox input::placeholder {
    color: #000000be;
}

.genderGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.genderInput {
    display: flex;
    align-items: center;
}

.genderInput input {
    margin-right: 0.35rem;
}

.genderInput label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continueButton button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #e51b23;
    color: white;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}


.continueButton button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    .formImage {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .inputGroup {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .genderInputs {
        margin-top: 2rem;
    }
    .genderGroup {
        flex-direction: column;
    }
    .genderTitle h6 {
        margin: 0;
    }
    .genderInput {
        margin-top: 0.5rem;
    }
}