
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .imagemPrincipal {
    background-image: url('../../public/images/bgDrinks.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */

.main .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    /* background-color: ; */
}

.container .formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh 0;
    gap: 2vh;
}

.container .formContainer form {
    gap: 4vh;
    width: 100%;
    height: fit-content;
}
 .formHeader {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: end;
    padding-right: 5vw;
}

 .loginButton {
    display: flex;
    align-items: center;
}

.loginButton button {
    border: none;
    background-color: #e51b23;
    padding: 1vh 10vw;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
    font-size: 1.2em;
    color:  white;
}

.loginButton button:hover {
    background-color: white;
    border: 1px solid #e51b23;
}

.loginButton button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.title {
    width: 100%;
}

.title h1 {
    width: 100%;
    padding: 0 20vw;
    position: relative;
}

.title h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #e51b23;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 1rem 0; 
}

.inputBox {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.inputBox input,
.inputBox select {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 1rem;
} 

.inputBox input:hover {
    background-color: #eeeeee75;
}

.inputBox input:focus-visible {
    outline: none;
} 
.inputBox input:active {
    outline: none;
} 
.inputBox input:focus {
    outline: none;
} 

.inputBox label {
    font-size: 1rem;
    font-weight: 600;
    color: #000000c0;
}

.inputBox input::placeholder {
    color: #000000be;
}

.continueButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    
    width: 50%;
    border: none;
    background-color: #e51b23;
    color: white;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

/* @media screen and (min-width: 1200px) {
    .formImage {
        display: none;
    }
    .container {
        width: 50%;
    }
    .formContainer {
        width: 100%;
    }
}   */

@media screen and (min-width: 800px) {
    
    .formContainer {
        padding: 10vh 0vw;
    }
    
    .formContainer form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 80%;
    }

    .title h1 {
        padding: 0 2vw;
        font-size: 2.75rem;
    }

    .inputGroup {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 2vh;
    }

    .inputBox {
        width: 40%;
    }
    
    .inputBox input {
        font-size: 1.4rem;
    } 

    .inputBox label{
        font-size: 1.4rem;
    }

    .loginButton button {
        font-size: 1.4rem;
    }

    .formContainer button.continueButton {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1400px) {
    

    .main {
        justify-content:initial;
        align-items: initial;
    }

    .main .formImage {
        width: 50%;
        min-height: 100vh;
        background-image: url('../../../public/images/bgDrinks.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .main .container {
        height: 100vh;
    }
    
    .container .formContainer {
        padding: 10vh 0;
        width: 60%;
        max-height: 100vh;
        overflow-y: scroll;
    }
    
    .container .formContainer form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 80%;
        max-height: 100vh;
    }

    .title h1 {
        padding: 0 2vw;
        font-size: 2.75rem;
    }

    .inputGroup {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 2vh;
    }
    
    .inputBox input {
        font-size: 1.4rem;
    } 

    .inputBox label{
        font-size: 1.4rem;
    }

    .loginButton button {
        font-size: 1.4rem;
    }

    .formContainer button.continueButton {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1400px) {
    

    .main {
        justify-content:initial;
        align-items: initial;
    }

    .main .formImage {
        width: 50%;
        min-height: 100vh;
        background-image: url('../../../public/images/bgDrinks.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .main .container {
        max-height: 100vh;
    }
    
    .container .formContainer {
        padding: 0vh 0;
        max-height: 100vh;
        width: 60%;
        overflow-y: auto;
    }
    
    .container .formContainer form {
        display: flex;
        max-height: 100vh;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex;
        justify-content: center;
        width: 80%;
        max-height: 100vh;
    }

    .title h1 {
        padding: 0 2vw;
        font-size: 2.50rem;
    }
    
    .inputGroup {
        padding-left: 2vw;
        flex-direction: row;
        max-height: 100vh;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 2vh;
    }
    
    .inputBox input {
        font-size: 1rem;
    } 

    .inputBox label{
        font-size: 1rem;
    }

    .loginButton button {
        padding: 0vh 4vw;
        font-size: 0.9rem;
        height: 8vh;
    }

    .formContainer button.continueButton {
        font-size: 1rem;
        margin-right: 4vw;
        width: 25%;
        align-self: flex-end;
    }
}